/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

div.container {
    max-width: 100%;
    margin: auto;
}

img {
    width: 100%;
}

nav ul{
    padding: 2rem;
}

nav ul li {
    display: inline;
    list-style-type: none;
    margin-right: 1rem;
    font-family: collector-comic, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    padding-right: 2rem; 

}

nav ul li a {
    color: #222222;
    text-decoration: none;
}

nav ul li a:hover {
    color: #d3bb78;
}

p a {
    text-decoration: none;
    font-family: finalsix,sans-serif;
    font-weight: 400;
    font-size: 3rem;
    font-style: normal;
    color: #1e1e1e;
}

p {
    font-family: gaultier-lights, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0rem 0 1rem 2rem;
    font-size: 1.5rem;
}

h1 {
    width: 8em;
    padding: 3rem 0 0 2rem;    
    font-size: 2rem;

}

h2 {
    font-family: gaultier, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 3rem;
    padding: 3rem 0 0 2rem;
    color: #d3bb78;
}

header {
    background: #fafafa;
}

article {
    background: #fafafa;
}

aside {
    background: #fafafa;
}

footer {
    background: #fafafa;
    padding-top: 2rem;
    text-align: center;
}
